#contenidoregresar {
	position: relative;
	top: 5px;
	left: 80%;
	display: inline-block;
}
#contenidorep, #contenidorepnor, #contenidorepesp {
	height: auto;
	padding-left: 0px;
	text-align: center;
	background-color: #3d3d3d;
	color: white;
	font-size: 20px;
}
#contenidotabrep {
	height: auto;
	padding-left: 0px;
}
#contenidotabrep1 [type="button"], #contenidotabrep2 [type="button"] {
	width: 100%;