html, body, .container, #contenido, #banner, #footer {
	height: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
}
#banner {
	height: auto;
}
.container {
	margin-right: 6%;
	margin-left: 6%;
	box-shadow: 0px 0px 2px 1px gray;
}
#footer {
	position: fixed;
	bottom: 0px;
}
#bannerimg {
	width: 100%;
}
#contenidofilinkimg {
	position: relative;
	left: 25px;
	top: 3px;
}
#contenidocerrarsesion {
	position: relative;
	top: 5px;
	left: 80%;
	display: inline-block;
}
.row {
	height: 100%;
	padding-top: 0px;
	padding-left:120px; 
}
#contenidoado1 {
	background-color: #fff882;
}
#contenidoado2 {
	background-color: #ffab77;
}
#contenidoado3 {
	background-color: #8cb4ff;
}
#contenidoado1img, #contenidoado2img, #contenidoado3img {
	position: relative;
	width: 250px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 0px;
}
#contenidoado1, #contenidoado2, #contenidoado3 {
	padding: 0px;
}
#contenidoado1 div, #contenidoado2 div, #contenidoado3 div {
	text-align: center;
	color: white;
	font-family: times;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#contenidoado1txt {
	background-color: #c6bd1f;
}
#contenidoado2txt {
	background-color: #ff853a;
}
#contenidoado3txt {
	background-color: #3c7ffc;
}
#contenidocabimg {
	position: relative;
	left: 25%;
	top: 4px;
}
#contenidoreg {
	position: absolute;
	right: 10%;
	top: 25%;
}